#developers-detail div { border: 1px solid #222; width: 260px; padding: 2px; background-color: #eee; margin: 3px;
                         float: left; clear: both; font-family: Arial; font-size:8pt; }
#developers-detail, #developers-grid { float: left; margin-right: 10px; }
